
html,
body {
  min-width: 290px;
  background-color: #ffffff;
  font-family: Oswald;
  line-height: 1.5;
}


  .informative{
    font-family: Oswald;
  }
  .italic{
    font-style: : italic;
  }


.green {color: green;}

.logo {letter-spacing: -2px;}
.logo_skin{font-style: italic;
  color: #d1d1d1;
font-weight: 100}
.logo_sus{font-weight: 900;}

h1{font-size: 28px;
padding-bottom: 0;
text-align: center;}

h2{font-size: 20px;
text-align: center;}

h3{font-size: 18px
font-weight: bold;
display: inline;}

h4{font-size: 14px;
font-weight: bold;
display: inline;}

.logo-jpg {
width: 200px;
margin-left: auto;
margin-right: auto;
display: block;}


#navbar {  
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: #d1d1d1;}


#navbar ol {
  height: 65%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li:not(.skip) {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  margin-left: 20px;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 10px;
  margin-bottom: 30px;
}




@media only screen and (max-width: 815px) {
  #navbar ol {
    border: 1px solid;
    height: 215px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 480px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: -10px;
    margin-top: 480px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}




section ol {
    counter-reset: item;
    list-style-position: outside;
    list-style-type: none;

  }

 section li:not(.skip):before {
    content: counters(item, ".") "";
    counter-increment: item;
    color: gray;
    display:inline-block;
    width:10px;
    padding-right: 5px;
    margin-right: 5px;
    text-align: right;

    }  

section li:not(.skip) {
      text-indent: -22px;
  }

section li.skip {text-indent: 0px}

section ol > li {
    padding-bottom: 10px;

}


section ol > li > ol > li {
  padding-bottom: 0px;
  }


